.navbar-dark .navbar-brand {
    color: #FFFFFF;
}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: #FFFFFF;
}

.navbar-dark .navbar-nav .nav-link {
    color: #FFFFFF;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover,.navbar-dark .navbar-brand:hover {
    color: rgb(119, 226, 19) !important;
}

.slider-font{
	font-family: 'Merienda', cursive;
}
.div_all{
    background-color:rgb(69, 69, 69);
}
.div_hover_container {color:rgb(195, 252, 162); }

.div_hover_container_footer{
    font-family: 'Forum', cursive;
}

.div_hover:hover {color:rgb(97, 255, 2); }

.btn-dark-hover:hover {
    background-color: #4CAF50;
}

.container {
    position: relative;
    width: 100%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.text-block {
    opacity: 0.7;
    position: absolute;
    bottom: 10px;
    right: 30px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.progress {
    height: 35px;
  
  }
  .progress .skill {
    font: normal 12px "Open Sans Web";
    line-height: 35px;
    padding: 0;
    margin: 0 0 0 20px;
    text-transform: uppercase;
  }
  .progress .skill .val {
    float: right;
    font-style: normal;
    margin: 0 20px 0 0;
  }
  
  .progress-bar {
    text-align: left;
    transition-duration: 10s;
  }

  .bg {
    /* The image used */
    background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(20).jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}